.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .container {
    width: 60%;
    background: white;
    min-height: 60vh;
    margin-top: 1.5rem;
    box-shadow: 0 0 4px #a7a7a7;
    border-radius: 5px;
    padding: 1rem;

    .title {
      font-size: 17px;
      font-weight: 600;
      color: #00acee;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      span {
        font-size: 16px;
        color: #444444;
        margin-top: 0.5rem;
      }

      .inputNama {
        height: 1.5rem;
        width: 100%;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
      }

      .inputGambar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 6rem;
        height: fit-content;
        width: 100%;
        background: #efefef;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
        color: #a7a7a7;
        
        .preview{
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 300px;
            object-fit: cover;
        }

        :nth-child(3) {
          margin-top: -0.05em;
          color: #a7a7a7;
          font-size: 12px;
        }
      }

      .harga{
        display: flex;
        height: 2rem;
        align-items: center;
        border-radius: 5px;
        border: 2px solid #dbdbdb;
        justify-content: center;


        p{
            display: flex;
            height: 2rem;
            width: 8%;
            background: #00acee;
            color: #efefef;
            align-items: center;
            justify-content: center;
        }

        input{
            // border: 1px solid #a7a7a7;
            border: 0;
            height: 90%;
            width: 100%;
        }
      }
    }

    .simpanBtn{
        margin-top: 1rem;
        display: flex;
        width: 100%;
        justify-content: flex-end;

        button{
            background: #7CAF84;
            color: #efefef;
            border: 0;
            font-size: 16px;
            font-weight: 500;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;

        }
    }
  }
}
